:root {
	--social-size: 30px;
	--bg: #fbf7f2;
	--secondary: #fff9f2;
	--secondaryText: #757575;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	background-color: var(--bg);
	font-family: 'Lufga', sans-serif;
	letter-spacing: -4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.details-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.images-left {
  width: 50%;
}

.big-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.small-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.small-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.info-right {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 80vh;          
  overflow-y: auto;          
  word-wrap: break-word;    
}


.plant-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.plant-info {
  font-size: 18px;
  margin: 6px 0;
  color: #333;
}

.plant-desc {
  margin: 20px 0;
  font-size: 16px;
  color: #444;
}

.price {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 30px;
  color: #008000;
}

/* BOOK BUTTON */
.book-btn {
  padding: 14px 25px;
  font-size: 20px;
  background: #008000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.25s ease,0.25s ease;
}

.book-btn:hover {
  background: #0A9A0A;
  transform: translateY(-4px);
}

.book-btn:disabled {
  background: gray;
  cursor: not-allowed;
}





/* Overlay Background */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.633);
    display: none; /* hidden initially */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Popup Box */
.booking-popup {
    width: fit-content;
    background: #fff7ef;
    border-radius: 20px;
    padding: 30px  50px 30px 30px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

/* Close Button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

/* Buttons */
.popup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #000;
    color: #fff;
    padding: 18px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 320px;

    transition: 0.2s ease;
}

.popup-btn:hover {
    transform: scale(1.03);
}

/* Icons */
.popup-btn {
    font-size: 22px;
}

/* Remove Horizontal Scroll Globally */
html, body {
    overflow-x: hidden !important;
}

.popup-overlay img{
  width: 40px;
	height: auto;
}
