:root {
	--social-size: 30px;
	--bg: #fbf7f2;
	--secondary: #fff9f2;
	--secondaryText: #757575;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	background-color: var(--bg);
	font-family: 'Lufga', sans-serif;
	letter-spacing: -4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.details-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.images-left {
  width: 50%;
}

.big-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.small-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.small-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.info-right {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 80vh;          
  overflow-y: auto;          
  word-wrap: break-word;    
}


.plant-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plant-info {
  font-size: 18px;
  margin: 6px 0;
  color: #333;
}

.plant-desc {
  margin: 20px 0;
  font-size: 16px;
  color: #444;
}

.price {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 30px;
  color: #008000;
}

/* BOOK BUTTON */
.book-btn {
  padding: 14px 25px;
  font-size: 20px;
  background: #008000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.25s ease,0.25s ease;
}

.book-btn:hover {
  background: #0A9A0A;
  transform: translateY(-4px);
}

.book-btn:disabled {
  background: gray;
  cursor: not-allowed;
}
